@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&display=swap");

body {
  font-family: "Schibsted Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Theme Variables */
:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* added for the sake of universal btn that needs to maintain white text on hover  */
  --default-white: #e3f1f4;

  --bg-color: #e3f1f4;
  --text-color: #171738;
  --text-color-neutral: #383852;
  --text-color-neutral-border: #a8a8bd;
  --primary-color: #377dff;
  --shoot-up-arrow: #5d5d78;
  /* --primary-color: #2a2ac7; */
  --icon-color: #2a2ac7;
  --secondary-color: #eaeaea;
}

[data-theme="dark"] {
  /* same purpose as in non dark mode above */
  --default-white: #e3f1f4;

  --bg-color: #141c2f;
  --text-color: #fdfdff;
  --text-color-neutral: #fdfdff;
  --text-color-neutral-border: #a8a8bd;
  --primary-color: #377dff;
  --icon-color: #2a2ac7;
  --secondary-color: #333333;

  --shoot-up-arrow: #fdfdff;
}
